#login{
    padding: 20px;
    margin:0 auto;
    height:60px;
}
#login #input body{
    align-content: center;
    margin: 0 auto;
}

.topnav {
    background-color: #555151;
    overflow: hidden;
    border-radius: 10px;
    height: 40px;
}

.topnav a.form form input{
    width: 270px;
    height: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 15px;
    margin-top: 8px;
    float: left;
}

.topnav a.form form button.botao{
    width: 80px;
    height: 28px;
    float: center;
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
    color: #555151;
    font-weight: normal;
    background-color: #76dbd1;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 3px 3px 4px #555;
    margin-top: 7px;
    margin-left: 15px;
}

.topnav a.cadastro {
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 19px;
    height: 45px;
    float: right;
}
.topnav a.cadastro:hover {
    float: right;
    color: #555151;
    background-color: #ecf4f3;
    text-align: center;
    padding: 8px 16px;;
    text-decoration: none;
    font-size: 22px;
    float: right;
}










p{
    text-align: center;
    padding: 0 auto;
}


#listaInt, #listaDias{
    display: none;
}

body{
    background-color: #ecf4f3;
}
header div.logo{
    text-align: center;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 50px;
}
div.opcoes{
    margin-top: 300px;
}

div.opcoes h3{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: normal;
}
div.opcoes div.afinidade button.principal{
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #555151;
    background-color: #76dbd1;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border-width: 0px;
}

div.opcoes div.afinidade div fieldset{
    font-size: 20px;
    color: #555151;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 4px;
    border-color: #555;
}
div.opcoes div.afinidade div fieldset form div{
    text-align: left;
}

div.opcoes div.afinidade div fieldset form Button{
    width: 110px;
    height: 30px;
    float: center;
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
    color: #555151;
    font-weight: normal;
    background-color: #76dbd1;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 3px 3px 4px #555;
    margin-top: 6px;
}
div.opcoes div.disponibilidade button.principal{
    width: 200px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
    color: #555151;
    font-weight: normal;
    background-color: #5bb0a2;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border-width: 0px;
}

div.opcoes div.disponibilidade div fieldset{
    font-size: 20px;
    color: #555151;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 4px;
    border-color: #555;
}
div.opcoes div.disponibilidade div fieldset form div{
    text-align: left;
}

div.opcoes div.disponibilidade div fieldset form Button{
    width: 110px;
    height: 30px;
    float: center;
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
    color: #555151;
    font-weight: normal;
    background-color: #76dbd1;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 3px 3px 4px #555;
    margin-top: 6px;
}


div.opcoes div.afinidade{
    position: relative;
    border-width: 0px;
    border-radius: 10px;
    max-width: 300px;
    justify-content: left;
    align-content: left;
    float: left;
    margin-left: 51px;
}

div.opcoes div.disponibilidade{
    position: relative;
    border-width: 0px;
    border-radius: 10px;
    max-width: 300px;
    justify-content: right;
    align-content: right;
    margin-right: 51px; 
}

div.opcoes img{
    float: center;
    margin-bottom: 30px;
}