body{
    margin: 0;
}
.infos{
    background-color: #ecf4f3;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}
header{
    background-color: #202020;
    padding: 5px 0;
    text-align: center;
}
.bttPerson{
    background-color: #76dbd1;
    border: none;
    color: #555151;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    font-size: 1em;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    margin-left: 42vw;
}
.bttPerson:hover{
    background-color: #57a99a;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
h2{
    color: #555151
}
#descricao{
    font-family: 'Raleway', sans-serif;
}
.premios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    max-width: 1500px;
}

.premios p{
    font-family: 'Raleway', sans-serif;
}
#titulo-premios, #titulo-atuais{
    margin-left: 20px;
    text-decoration: underline;
}
i{
    background-color: grey;
    padding: 1%;
    font-size: 2em;
    border-radius: 50%;
    color: #ecf4f3;
    margin: 40px;
}
.tela-atuais .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 20%;
    margin-left: 40px;
    padding: 0 0 10px 0;
    text-align: center;
}

.day{
    background-color: #316b60;
    padding: 2px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.tela-atuais .card .container{
    padding: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

footer{
    background-color: #316b60;
    width: 100%;
    text-align: center;
    padding: 5% 0;
    position: relative;
    bottom: 0;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

@media (min-width : 1025px) {
    .tela-atuais .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 20%;
        margin-left: 40px;
        padding: 0 0 10px 0;
        margin-bottom: 50px;
    }
    .tela-atuais{
        margin-bottom: 20%;
    }
    .day{
        background-color: #316b60;
        padding: 2px;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
        color: #fff;
        font-family: 'Raleway', sans-serif;
    }
    .tela-atuais .card .container{
        padding: 5px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
}
@media (max-width : 600px) {
    .tela-atuais .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 80%;
        margin-bottom: 50px;
    }
    .tela-atuais{
        margin-bottom: 15%;
    }
    .day{
        background-color: #316b60;
        padding: 2px;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
        color: #fff;
        font-family: 'Raleway', sans-serif;
    }
    .tela-atuais .card .container{
        padding: 5px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
}
@media (min-width: 601px) 
and (max-width: 1025px) {
    .tela-atuais .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 80%;
        margin-bottom: 50px;
    }
    .tela-atuais{
        margin-bottom: 15%;
    }
    .day{
        background-color: #316b60;
        padding: 2px;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
        color: #fff;
        font-family: 'Raleway', sans-serif;
    }
    .tela-atuais .card .container{
        padding: 5px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
}